.app__navbar {
    width: 100%;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 0;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    opacity: 1;
    max-width: 1852px;
}

.app__navbar-logo {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.app__navbar-logo img {
    max-width: 100%;
}

.app__navbar-icons {
    padding-right: 5rem;
    display: flex;
    justify-content: flex-end;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    margin: 5px;
}

.burger-bar {
    width: 3em;
    height: 0.3em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .5em;
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.5em, .3em);
    transition: ease-out .5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out .5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, .5em);
    transition: ease-out .5s;
}

.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.0885, 0.32. 1.275) 0.5s;
}

.burger-bar.unclicked:nth-child(1){
    transform: rotate(0deg);
    transition: ease-out .5s;
}

.burger-bar.unclicked:nth-child(2){
    transform: rotate(0deg);
    transition: ease-out .5s;
}

.burger-bar.unclicked:nth-child(3){
    transform: rotate(0deg);
    transition: ease-out .5s;
}